@using FoodJournal.Dependences;
@using FoodJournal.BLL.Interfaces;

@{
    Layout = "~/Layouts/_Layout.cshtml";
    IProductBLL productBLL = DependencyResolver.ProductBLL;
    string search = "";
}

<form action="~/" method="post">
    <div class="search">

        @if (User.Identity.IsAuthenticated)
        {
            <div class="searchField">
                <div class="searchString">
                    <input class="searchInput" name="Search" placeholder="Search" />
                    <input class="searchButton" type="submit" value="Search">
                </div>
            </div>
        }

    </div>
</form>

<div>
    @RenderPage("~/Pages/_LoginPartial.cshtml")
</div>

<div>
    @RenderPage("~/Pages/_MenuPartial.cshtml")
</div>

<div class="container">

    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <div class="addButton">
            <a href="~/Pages/AdminPages/AddProductToBase.cshtml">+</a>
        </div>

        <div class="viewUsers">
            <a href="~/Pages/AdminPages/ViewRoles.cshtml">View users</a>
        </div>

        search = Request.Form["search"];



        Products category = Products.All;
        string categoryValue = Request.QueryString["category"];
        var products = productBLL.GetAll(Products.All).ToList();

        if (!string.IsNullOrEmpty(search))
        {
            products = products.Where(x => x.Name.ToLower().Contains(search.ToLower())).ToList();
        }

        if (!string.IsNullOrEmpty(categoryValue))
        {
            category = (Products)Enum.Parse(typeof(Products), categoryValue, true);
        }

        foreach (var product in productBLL.GetAll(category).ToList())
        {
            <div class="productsCont">
                <div class="products">

                    @if (product.Image.Length == 0)
                    {
                        <div><img src="~/Images/restaurant.png"></div>
                    }

                    else
                    {
                        <div class="productsAvatar"><img src="data:image;base64,@System.Convert.ToBase64String(product.Image)"></div>
                    }

                    <ol>@product.Name</ol>
                    <ul>
                        <li>Calorific: @product.Calorific</li>
                        <li>Net Mass: @product.NetMass</li>
                        <li>Category: @product.Category</li>
                    </ul>
                    <div class="changeImg">
                        <a href="~/Pages/AdminPages/EditProduct.cshtml?id=@product.ID"><img src="~/Images/change.png"></a>
                        <a href="~/Pages/AdminPages/DeleteProduct.cshtml?id=@product.ID"><img src="~/Images/trash.png"></a>
                    </div>

                </div>
            </div>

        }
    }

    else if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
    {
        <div class="viewUsers">
            <a href="~/Pages/UserPages/Dish.cshtml">View dish</a>
        </div>

        Products category = Products.All;
        string categoryValue = Request.QueryString["category"];
        var products = productBLL.GetAll(Products.All).ToList();

        if (!string.IsNullOrEmpty(search))
        {
            products = products.Where(x => x.Name.ToLower().Contains(search.ToLower())).ToList();
        }

        if (!string.IsNullOrEmpty(categoryValue))
        {
            category = (Products)Enum.Parse(typeof(Products), categoryValue, true);
        }

        foreach (var product in productBLL.GetAll(category).ToList())
        {
            <div class="productsCont">
                <div class="products">

                    @if (product.Image.Length == 0)
                    {
                        <div><img src="~/Images/restaurant.png"></div>
                    }

                    else
                    {
                        <div class="productsAvatar"><img src="data:image;base64,@System.Convert.ToBase64String(product.Image)"></div>
                    }

                    <ol>@product.Name</ol>
                    <ul>
                        <li>Calorific: @product.Calorific</li>
                        <li>Category: @product.Category</li>
                    </ul>

                    <div class="changeImg">
                        <a href="~/Pages/UserPages/AddProductToDish.cshtml?id=@product.ID"><img src="~/Images/plus.png"></a>
                    </div>

                </div>
            </div>
        }
    }

    else
    {
        <div class="guest">Sorry, application isn't available for guests!</div>
        <div class="guest">
            <a href="~/Pages/Registration.cshtml">Registration</a>
        </div>
    }

</div>