@using FoodJournal.Dependences;
@using FoodJournal.BLL.Interfaces;
@using FoodJournal.PL.WebPages.Models;

@{
    Logger.Log.Debug("Some message");


    Layout = "~/Layouts/_Layout.cshtml";
    string id = Request.QueryString["ID"];
    string name = "";
    double calorific = 0;
    int netMass = 100;
    byte[] imageBytes = null;
    Products category = 0;
    string requestID = "";
    IProductBLL productBLL = DependencyResolver.ProductBLL;

    if (!IsPost)
    {
        var product = productBLL.GetById(int.Parse(Request.QueryString["ID"]));
        requestID = product.ID.ToString();
        name = product.Name;
        calorific = product.Calorific;
        netMass = product.NetMass;
        imageBytes = product.Image;
        category = product.Category;

    }

    if (IsPost)
    {
        requestID = Request.Form["requestID"];
        name = Request.Form["name"];
        calorific = Double.Parse(Request.Form["calorific"]);
        var checkFile = Request.Files[0].FileName;

        if(checkFile != "")
        {
            var file = Request.Files[0];

            using (BinaryReader binaryReader = new BinaryReader(file.InputStream))
            {
                imageBytes = binaryReader.ReadBytes(file.ContentLength);
            }
        }

        category = (Products) Enum.Parse(typeof(Products), Request.Form["category"]);
        productBLL.Edit(Int32.Parse(requestID), name, calorific, netMass, imageBytes, category);
        Response.Redirect("~");
    }
}

<form class="dialogPage" action="~/Pages/AdminPages/EditProduct.cshtml" enctype="multipart/form-data" method="post">

    <div class="loginHead"> Edit product</div>

    <div>
        <label class="loginField">Name of product</label>
        <div>
            <input class="loginInput" id="charField" type="text" name="Name" minlength="4" maxlength="12" value=@name required>
        </div>
    </div>

    <div>
        <label class="loginField">Calorific</label>
        <div>
            <input class="loginInput" id="minValue" type="number" name="Calorific" min="0" value=@calorific required>
        </div>
    </div>

    <div>
        <label class="loginField">Category</label>
        <div>
            <select class="loginInput" name="Category" size="1">

                @foreach (var item in Enum.GetNames(typeof(Products)))
                 {
                     if (item == category.ToString())
                      {
                        <option value="@item" selected="selected">@item</option>
                      }
                     else
                      {
                        <option value="@item">@item</option>
                      }
                 }

            </select>
        </div>
    </div>

    <div>
        <label class="loginField">Image</label>
        <div>
            <input class="dialogInputImage" type="file" name="Image" value="@imageBytes">
        </div>
    </div>

    <div>
        <div>
            <input type="hidden" name="requestID" value="@requestID" />
            <button class="loginButton" onclick="validateMinValue(); validateField();">Edit</button>
        </div>
    </div>

    <script type="text/javascript" src="~/JS/Validation.js"></script>

</form>