@using FoodJournal.Dependences;
@using FoodJournal.BLL.Interfaces;

@{
    Layout = "~/Layouts/_Layout.cshtml";
    IAccountBLL users = DependencyResolver.AccountBLL;
}

<form action="~/Pages/AdminPages/ViewRoles.cshtml" method="post">
    <div class="totalCalorific">
        View profiles
    </div>

    <div class="container">
        @foreach (var user in users.GetAll().ToList())
        {

            <div class="users">
                <ol>User ID: @user.ID</ol>
                <ul>
                    <li>Login: @user.Login</li>
                    <li>Password: @user.Password</li>
                    <li>Role: @user.Role[0]</li>
                    <li>Body Weight: @user.BodyWeight</li>
                    <li>Goal: @user.Goal</li>
                </ul>
            </div>
        }
    </div>
</form>